.main-page-list-item {
    height: 14px;
    width: 250px;
    background: #F2F2F2;
    border-radius: 4px;
    padding: 4px 12px;
    list-style-type: none;
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-page-list-item span {
    font-family: Laksaman, sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.main-page-list-item svg {
    height: 18px;
    width: 18px;
}
