/*centered*/
.main-page-header * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-page-header {
    text-align: center;
    width: 100%;
    height: 300px;
    background-size: cover;
    background: rgba(255, 150, 197, 0.49) fixed;
    position: relative;
    overflow: hidden;
    border-radius: 0 0 85% 85% / 30%;
}

.main-page-header-wrapper {
    width: 100%;
    height: 100%;
    padding: 50px;
    color: #FFF;
    text-shadow: 1px 1px 1px #333;
    background-image: linear-gradient(135deg, #9f05ff69 10%, #fd5e086b 100%);
}

.main-page-header h1 {
    font-family: 'Saab', cursive;
    font-size: 80px;
}

.main-page-header button {
    font-family: 'Saab', sans-serif;
    border: none;
    outline: none;
    height: 40px;
    padding: 10px 20px;
    border-radius: 50px;
    color: #333;
    background: #fff;
    box-shadow: 0 3px 20px 0 #0000003b;
}

.main-page-header button:hover {
    cursor: pointer;
}
